
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item has-treeview menu-open">
            <button  type="button" class="btn btn-primary"  onclick="CreateNot()"><i class="nav-icon fas fa-plus"></i> Create Note</button>
        </li>
    </ul>
    <br />
    <br />
</nav>



