
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item has-treeview menu-open">

            <a href="@Url.Action("AppointmentList", "Appointment")" class="nav-link active">
                <i class="nav-icon fas fa-list"></i> Appointment List
            </a>
            <a href="@Url.Action("CreateAppointment", "Appointment")" class="nav-link active">
                <i class="nav-icon fas fa-plus"></i>Create New Appointment
            </a>
        </li>
    </ul>
    <br />
    <br />
</nav>




