<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item has-treeview menu-open">
           
            <a href="@Url.Action("CustomerList", "Customer")" class="nav-link active" style="font-size: 11px">
                <i class="nav-icon fas fa-list"></i> Companies Employee List
            </a>
            <a href="@Url.Action("CreateCustomer", "Customer")" class="nav-link active" style="font-size: 11px">
                <i class="nav-icon fas fa-plus"></i>Create Companies Employee
            </a>
        </li>
    </ul>
    <br />
    <br />
</nav>



