
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item has-treeview menu-open">

            <a href="@Url.Action("DocumentLists", "Document")" class="nav-link active">
                <i class="nav-icon fas fa-list"></i> Documents List
            </a>
            <a href="@Url.Action("UploadDocument", "Document")" class="nav-link active" style="font-size: 11px">
                <i class="nav-icon fas fa-plus"></i>Add New Template/Document
            </a>
            <a href="@Url.Action("CreateDocument", "Document")" class="nav-link active" style="font-size: 11px">
                <i class="nav-icon fas fa-plus"></i>Create Document from Template
            </a>
        </li>
    </ul>
    <br />
    <br />
</nav>




