
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item has-treeview menu-open">

            <a href="@Url.Action("EmployeeList", "Employee")" class="nav-link active">
                <i class="nav-icon fas fa-list"></i> Employee List
            </a>
            <a href="@Url.Action("CreateEmployee", "Employee")" class="nav-link active">
                <i class="nav-icon fas fa-plus"></i>Create New Employee
            </a>
        </li>
    </ul>
    <br />
    <br />
</nav>




