<br/>
<div class="row">
    <div class="col-lg-4 col-6">
        <div class="small-box bg-gray">
            <div class="inner">
                <h3>@ViewBag.TotalCustomers</h3>
                <p style="color:dodgerblue;font-weight:600">Total Customers</p>
            </div>
            <div class="icon">
                <i class="ion">
                    <img src="~/AdminLTEFiles/img/customers-icon-35912.png" width="60" height="60"/>

                </i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-6">
        <div class="small-box bg-gradient-teal">
            <div class="inner">
                <h3>@ViewBag.TotalEmployes</h3>
                <p style="color:darkred;font-weight:600">CoreMed Employes</p>
            </div>
            <div class="icon">
                <i class="ion">
                    <img src="~/AdminLTEFiles/img/employee.png" width="60" height="60"/>
                </i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.TotalCompanies</h3>
                <p style="color:black;font-weight:600">Total Companies</p>
            </div>
            <div class="icon">
                <i class="ion">
                    <img src="~/AdminLTEFiles/img/company.png" width="60" height="60"/>
                </i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.TotalDocuments</h3>
                <p style="color:darkred;font-weight:600">Documents In Database</p>
            </div>
            <div class="icon">
                <i class="ion">
                    <img src="~/AdminLTEFiles/img/documents.png" width="60" height="60"/>
                </i>
            </div>
        </div>
    </div>
</div>